body{
    background-color: rgb(221, 146, 146)
}
.titulo{
    border: black 3px dotted;
    background-color: aqua; 
    padding-left: 33px;
}

.galeria{
    margin-left: 20px; 
}

.lista{
    margin-left: 20px; 
    font-family: 'Open Sans'; 
    font-size: 15px
}

.footer{
    margin-left: 20px;
    font-family: 'Open Sans'; 
    font-size: 15px
}